<div id="preloader">
  <div id="preloader-inner"></div>
</div>
<!--/preloader -->
<!-- slider start-->

<section id="home-hero" class="overflow-hidden slider-banner hero-banner">
  <div class="main-slider">
    <ul class="slides">
      <%= render partial: "refinery/projects/projects/project-feature", collection: @projects, as: :project%>
    </ul><!--slides end-->
  </div><!--slider end-->
</section>

<!-- news section -->
<div class="space-100"></div>
<section id="news">
  <div class="container">
    <h2 class="center-title scrollReveal sr-bottom">News</h2>
    <div class="center-border"></div>
    <div class="space-40"></div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="row list-unstyled services-list" id="articles-list">
          <%= render partial: "refinery/articles/articles/stub", collection: @articles, as: :article%>
        </ul><!--service list end-->
        <div class="col-md-12 text-center">
          <a href="/news" class="btn btn-lg btn-skin-border btn-block margin-b-20">See More News</a>
        </div>
      </div>
    </div><!--row end-->
  </div>
</section>

<!-- news section end -->

<div class="space-100"></div>
<%= render "partials/about" %>

<!--end about section-->
<div class="space-100"></div>
<%= render "partials/contact" %>
<!--modal of video-->
<!-- <div class="modal video-modal fade" id="video-popup" tabindex="-1" role="dialog" aria-labelledby="video-popup">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="ion-close"></span></button>
</div>
<div class="modal-body">
<div class="embed-responsive embed-responsive-16by9">
<iframe id="vimeo-video" src="http://player.vimeo.com/video/57175742"></iframe>
</div>
</div> -->
<!--modal body-->
<!-- </div> -->
<!--modal content-->
<!-- </div> -->
<!--modal dialog-->
<!-- </div> -->
<!--end the modal of video-->
