<!--footer start-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 margin-b-30">
        <ul class="list-inline">
        <li>&copy; Copyright 2017</li>
      </ul>
      </div>
      <div class="col-md-6 margin-b-30" align="center">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/projects">Projects</a></li>
          <li class="list-inline-item"><a href="/news">News</a></li>
          <li class="list-inline-item"><a href="/team">Team</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6"></div>
  </div><!--row-->
</div><!--container-->
</footer>
<!--footer end-->

<!--back to top-->
<a href="#" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
<!--back to top end-->
