<!--  navbar -->
<nav class="navbar navbar-toggleable-sm fixed-top transparent-nav navbar-inverse bg-inverse invert-on-scroll">
  <div class="container" id="navbar-container" >

    <button id="menu-hamburger" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a id="logo-icon" class="nav-item nav-logo" data-turbolinks="false" href="/">
      <img src="<%= asset_path("forefront_logo.png") %>" alt="logo">
      <span id="logo-text" class="navbar-text navbar-logo" data-turbolinks="false" href="/">
        FOREFRONT
      </span>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto scroll-to">
        <li class="nav-item"><a data-scroll href="/about" class="nav-link about">About</a></li>
        <li class="nav-item"><a data-scroll href="/projects" class="nav-link projects">Projects</a></li>
        <li class=" nav-item"><a data-scroll href="/team" class="nav-link team">Team</a></li>
        <li class=" nav-item"><a data-scroll href="/news" class="nav-link news">News</a></li>
        <li class=" nav-item"><a data-scroll href="/contact" class="nav-link contact">Contact</a></li>
      </ul>
    </div>

  </div>
</nav>
<!--end navigation-->
<!-- about project team news contact -->
