.tab-content > .tab-pane {
  display:block;
  visibility:hidden;
  position:absolute;
}

.tab-content > .active {
  visibility:visible;
  position: absolute;
}

div.organization-tab-content {
  font-size:1.25rem;
  font-weight:300;
  line-height: 1.9rem;
  text-align: center;
}
