/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require lib/bootstrap.min.css
 *= require lib/ionicons.css.erb
 *= require lib/flexslider.css
 *= require lib/dzsparallaxer.css
 *= require lib/cubeportfolio.min.css
 *= require lib/pushy.css.erb
 *= require lib/style.css
 *= require lib/bootstrap-theme.min.css
 *= require refinery/formatting
 *= require refinery/theme
 *= require_tree .
 *= require_self
 */

@import 'variables';

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-regular.woff') format("woff"), font-url('texgyreadventor-regular.woff') format("truetype");
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-italic.woff') format("woff"), font-url('texgyreadventor-italic.woff') format("truetype");
  font-style: italic;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-bold.woff') format("woff"), font-url('texgyreadventor-bold.woff') format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'Tex Gyre Adventor';
  src: font-url('texgyreadventor-bolditalic.woff') format("woff"), font-url('texgyreadventor-bolditalic.woff') format("truetype");
  font-weight: bold;
  font-style: italic;
}

.single-image-wrapper {
    position:relative;
    overflow:hidden;
    // Aspect ratio is set with variables and declared in scss files
}
.single-image {
    position:absolute;
    height:100%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-device-width: 767px) {
  .pad-from-navbar {
    padding-top: $no-hero-image-padding;
  }
  .img-hero {
    padding-bottom: $hero-image-mobile-aspect-ratio; // sets hero image aspect ratio on mobile
  }
}

@media screen and (min-device-width: 768px) {
  .pad-from-navbar {
    padding-top:$content-padding-top;
  }
  .img-hero {
    padding-bottom: $hero-image-desktop-aspect-ratio; // sets hero image aspect ratio on desktop
  }
}

.hero-image-content-spacer {
  width: 100%;
  height: $hero-image-content-spacer;
}

.panel-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body {
  background-color: #F5F8FA;
}

.text-overlay {
  width:100vw;
  background: rgba(0,0,0,0.3);
}

.spacer {
  padding-top: 3em;
}

.site-text-align {
  text-align: justify;
}

#body_content.no_side_body {
  padding: $content-padding-top 15px 0px 15px;
}
