.navbar {
  border-radius: 0;
}

.nav-logo {
  // height: 40px; // A. Font and logo same height. Biggest possible. Too big on mobile.
  height: 30px; // B. Font and logo same height. Smaller. Good size for destop and mobile
}

.nav-logo img{
  height: 100%
}

.navbar-text {
  font-family: "Tex Gyre Adventor";
  font-weight: bold;
  // font-size: 54px; // A. Font and logo same height. Biggest possible. Too big on mobile.
  font-size: 40px; // B. Font and logo same height. Smaller. Good size for destop and mobile
}

.navbar-text.navbar-logo {
  color: white;
}

@media (max-device-width: 767px) {
  /* some CSS here */
  #navbar-container {
    padding-top:48px; //sets navbar height
    text-align: left;
  }
}

@media (min-device-width: 768px) {
  /* some CSS here */
  #navbar-container {
    height:48px; //sets navbar height
    text-align: left;
  }
}

#menu-hamburger {
  // padding: 0px;
  top:4px !important;
}

#logo-icon {
  display: inline-block !important;
  vertical-align: middle;
  line-height: normal;
  white-space: nowrap;
  position:absolute;
  // top:-23px; // A. Font and logo same height. Biggest possible. Too big on mobile.
  top:-10px; // B. Font and logo same height. Smaller. Good size for destop and mobile
}

#logo-text {
  display: inline;
  // vertical-align: -16px; // A. Font and logo same height. Biggest. Too big on mobile.
  vertical-align: -11px; // B. Font and logo same height. Smaller. Good size for destop and mobile
  line-height: normal;
}

.my-vertical-align {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


// (41,43,44)
.transparent-nav.bg-inverse {
  background-color: rgba(41,43,44, 0.5) !important;
}

.navbar-inverse .navbar-nav .nav-link,
.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
  color: #FFF;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  text-shadow: none;
}

.inverted {
  // background-color: rgba(41,43,44, 0.8) !important;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  padding:3px 0px 3px 0px;

  .navbar-text.navbar-logo {
    color: #333;
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-link:focus,
  .navbar-nav .nav-link:hover {
    color: #333;
  }

  border-bottom: 1px solid #ddd;
}

// .transparent-nav.bg-inverse.secondary-page {
//   background-color: rgba(41,43,44, 0.5) !important;
// }
